body {
    background-image: url("https://i.ytimg.com/vi/M6CLYXkfiWE/maxresdefault.jpg");
    background-size: contain;

}

h2 {
    color: white;
    margin-top: 20px;
}

h1 {
    margin-top: 20px;
    color: white;
    font-family: 'Geostar Fill', cursive; 
    font-size: 46px;
    
}


#submit-btn {
    margin-top: 10px;
}

label {
    font-family: cursive;
    color: white;
}

#submit-btn {
    margin-bottom: 40px;
}

.heroBtns {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.gifbox {
    float: left;
    margin: 10px;
    border: 2px solid grey;
    padding: 10px;
}

p {
    color: aliceblue;
}